[Unit]
Description=kubectl proxy 8001
After=network.target

[Service]
Environment=KUBECONFIG=/etc/kubernetes/admin.conf
Type=simple
User=root
ExecStart=/usr/local/bin/kubectl proxy --address='0.0.0.0' --disable-filter=true
Restart=on-abort

[Install]
WantedBy=multi-user.target
